body {
    font-family: "Roboto Slab", serif;
    font-optical-sizing: auto;
    font-weight: <weight>;
    font-style: normal;
}



header {
    background-color: #4ea0ff;
    background-image: url(../img/pattern.png);
    background-repeat: repeat;
    padding-top: 5%;

}

.descrizione {
    font-size: 14px
}

h1 {
    font-family: ;
}

.logo {
    width: 200px;
}

.colorname {
    color: #4ea0ff;
}

/*lista*/
ul {
    padding-left: 20px;
}

/*tabella*/
.prima {
    background-color: rgb(111, 217, 255);

}

.terza {
    background-color: rgb(111, 217, 255);
}

th {
    text-align: center;
}

thead {
    background-color: #4ea0ff;
    color: white;
    text-align: left;
    padding-left: 15px;
}

.tab {
    width: 200px;
}

.ella {
    text-align: left;
}

/* div delle immagini finali */
.ttt {
    background-image: url(../img/graph.jpg);
    width: 308px;
    height: 206px;
    color: whitesmoke;
}

.ttt2 {
    background-image: url(../img/monitor.jpg);
    width: 310px;
    height: 206px;
    color: whitesmoke;
}




aside {
    position: relative;
}

.textf {
    padding: 10px;
}