header {
    background-color: #4ea0ff;
    background-image: url(../img/pattern.png);
    background-repeat: repeat;
    padding-top: 5%;

}

.logo {
    width: 200px;
}

.colorname{
    color: #4ea0ff ;
}


th {
    text-align: center;
}

.ttt{
    position: relative;
}


thead {
    background-color: #4ea0ff;
    color: white;
    

}

td{

}

.prima {
    background-color:rgb(111, 217, 255);
    
}

.terza{
    background-color:rgb(111, 217, 255);
}
.tab{
    width: 200px;
    
}